.mainpanel
{
  display: flex;
  flex-direction: column;
  padding:15px;
  min-width:250px;
  flex:3;
  background-color: rgb(245,248,250);
}
.mainpanel_inner
{
  display: flex;
  flex-direction: column;
  width:100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  overflow-y: scroll;
}
