.facetedbox
{
  width:100%;
  min-width:410px;
  border-radius: 2px;
  overflow: hidden;
  color:rgb(45,45,45);
  margin-top:20px;
  padding-bottom: 10px;
  background-color: white;
  padding-right:10px;
}
.facetedboxname
{
  text-align: left;
  font-size:1.1em;
  padding-top:10px;
  padding-left:0px;
  color:rgb(79, 119, 255);
  text-decoration: underline;
}
.dimensionboxname
{
  text-align: left;
  font-size:1.1em;
  padding-top:10px;
  padding-left:0px;
  color:rgb(79, 119, 255);
  text-decoration: underline;
}
.icon
{
  color:rgb(79, 119, 255);
}
.dimension
{
  padding:5px;
}
.dimension_checkbox
{
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  margin:10px;
  margin-left:20px;
  justify-content: space-between;
}
.dimension_checkbox:hover
{
  background-color:rgb(229,235,239);
}
.dimensionbox_name_container
{
  display: flex;
  align-items: center;
  padding-left:20px;
}
.icon_filter, .icon_category
{
  color:rgb(79, 119, 255);
  margin-right:10px;
}
.pt-elevation-0
{
  text-align: left;
}
.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content
{
  background-color: rgb(79, 119, 255);
}
.pt-control-indicator::before
{
  background-color: rgb(79, 119, 255);
}