.facetedbox
{
  width:210px;
  border-radius: 2px;
  overflow: hidden;
  color:rgb(45,45,45);
  margin-top:20px;
  padding-bottom: 30px;
}
.facetedboxname
{
  text-align: left;
  padding-bottom: 10px;
  color:rgb(6,84,186);
}
