.languageselector
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:80px;
  height:45px;
  background-color: white;
  margin-right:25px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  color:rgb(45,45,45);
}
.chev
{
  cursor: pointer;
  color:rgb(45,45,45);
}
