.itemsname
{
  cursor:pointer;
  text-align: left;
  margin-left: 40px;
  color:rgb(45,45,45);
}
.itemsname:hover
{
  text-align: left;
  margin-left: 40px;
  color:rgb(45,45,45);
  text-decoration: underline;
}
