.side
{
  display: flex;
  position: relative;
  z-index:100;
  padding-top: 20px;
  align-items: center;
  flex-direction: column;
  min-height:100%;
  max-height:100%;
  min-width:240px;
  margin-left:0px;
  background-color:rgb(250,250,250);
  border-right: 1px solid rgba(100, 100, 100, 0.1);
  transition: all 0.3s ease-out;
}
.sidehidden
{
  display: flex;
  position:relative;
  z-index:100;
  padding-top: 25px;
  align-items: center;
  flex-direction: column;
  min-height:100%;
  min-width:240px;
  margin-left:-240px;
  background-color:rgb(250,250,250);
  border-right: 1px solid rgba(100, 100, 100, 0.1);
  transition: all 0.3s ease-out;
}
.cross
{
  cursor: pointer;
  font-size:2em;
  align-self: center;
  color:rgb(45,45,45);
  padding-bottom: 100px;
}
.cross:hover
{
  opacity: 0.7;
}
