.sidepanel
{
  display: flex;
  z-index:100;
  padding-top: 20px;
  align-items: center;
  flex-direction: column;
  min-height:100%;
  min-width:240px;
  background-color:rgb(250,250,250);
  border-right: 1px solid rgba(100, 100, 100, 0.1);
  transition: all 0.2s ease-out;
}
.crosscontainer
{
  cursor: pointer;
  margin-bottom: 30px;
}