.sidepanel
{
  overflow: auto;
  overflow-y: overlay;
  direction:rtl;
  height:100vh;
}
.sidepanel_inner
{
  display: flex;
  z-index:1;
  padding-top: 15px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  align-items: flex-start;
  flex-direction: column;
  min-height:100%;
  background-color:rgb(79, 119, 255);
  direction:ltr;
}
.crosscontainer
{
  cursor: pointer;
  margin-bottom:10px;
  align-self: flex-end;
  margin-right:0px;
  color:white;
}