.sidepanel
{
  display: flex;
  position: relative;
  z-index:100;
  padding-top: 15px;
  padding-left:20px;
  padding-bottom:20px;
  align-items: flex-start;
  flex-direction: column;
  min-height:100vh;
  background-color:rgb(39,40,34);
}
.crosscontainer
{
  cursor: pointer;
  margin-bottom:10px;
  align-self: flex-end;
  margin-right:20px;
  color:white;
}
