.side
{
  display: flex;
  position: relative;
  left:0;
  z-index:100;
  padding-top: 25px;
  align-items: center;
  flex-direction: column;
  height:100%;
  width:240px;
  background-color:rgb(250,250,250);
  border-right: 1px solid rgba(100, 100, 100, 0.1);
}
.menuicone
{
  cursor: pointer;
  font-size:2em;
  align-self: flex-start;
  margin-left:15px;
  color:rgb(45,45,45);
}
