.facetedbox
{
  width:90%;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  color:rgb(45,45,45);
  margin-top:25px;
}
.facetedboxname
{
  text-align: left;
  margin-left: 20px;
  margin-top:10px;
  color:rgb(45,45,45);
}
