.pager_container
{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex:1;
}
.pager_container_inner
{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35px;
  border:solid 1px rgb(200, 200, 200);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  background-color: white;
}
.pager_elem
{
  height:100%;
  min-width:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px rgb(200, 200, 200);
  background-color: white;
}
.pager_container_inner *
{
  padding-left:10px;
  padding-right:10px;
  color:rgb(79, 119, 255);
}
.pager_container_inner *:hover
{
  background-color:rgb(240, 240, 240);
  cursor:pointer;
}
.first
{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px rgb(200, 200, 200);
}
.last
{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected
{
  background-color: rgb(79, 119, 255);
  color:white;
  height:calc(100% + 2px);
}
.selected:hover
{
  background-color: rgb(79, 119, 255);
}
.more:hover
{
  background-color: white;
  cursor:auto;
}