.searchbar
{
  display: flex;
  overflow: hidden;
  align-items: center;
  width:80%;
  min-width: 200px;
  max-width:900px;
  height:60px;
  background-color: white;
  border-radius: 3px;
  margin-right:25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.searchbar_leftside
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:70px;
  height:100%;
  background-color: white;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.searchicone
{
  font-size:2em;
  color:rgb(45,45,45);
}
