.searchbar
{
  width:80%;
  min-width: 200px;
  max-width:900px;
  height:60px;
  background-color: white;
  border-radius: 3px;
  margin-right:25px;
  box-shadow:
   inset 0 2em 5em -7em rgba(205,205,205,0.4),
   0 0.3em 0.5em -0.2em rgba(150,150,100,0.1),
   0 1em 2em -0.75em rgba(150,150,150,0.1),
   0 1em 3em -10em rgba(150,150,150,0.1),
   0 1em 3em -10.25em rgba(150,150,150,0.1);
}
