.sortbox
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left:25px;
  margin-bottom:10px;
}
.sortboxtitle
{
  padding-right:15px;
  margin-right:0;
  margin-bottom: 0;
}
.sortboxcontent
{
  position:absolute;
  width:150px;
  margin-left:-150px;
  top:4px;
  background-color:white;
  text-align: right;
  padding: 4px;
}
.sortboxcontent_elem
{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width:100%;
  background-color:none;
  padding-top:5px;
  padding-bottom:5x;
  padding-right:10px;
}
.sortboxcontent_elem:hover
{
  background-color:rgb(240,240,240);
  cursor: pointer;
}
.sortboxcontent_elem p
{ 
  margin: 0;
  margin-bottom: 5px;
}