.searchinfo
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height:auto;
  width:calc(90% - 25px);
  max-width:1100px;
  max-width:900px;
  color:rgb(45,45,45);
}
.searchcountertext
{
  margin:auto;
  margin-bottom: 0;
}
.searchcounter
{
  display: flex;
  align-items: center;
  min-width:200px;
  height: 100%;
  margin-bottom: 10px;
}
.typeselector
{
  margin-bottom: 10px;
}
