.searchinfo
{
  display: flex;
  align-items: center;
  min-height:40px;
  max-height:40px;
  width:80%;
  max-width:900px;
  color:rgb(45,45,45);
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 1px solid #ccc;
}
