.header
{
  min-width:310px;
}
.logo
{
  margin-right:10px;
<<<<<<< HEAD
  color: rgb(193, 51, 41);
}
=======
  color:rgb(205, 68, 64)
}
.header
{
  min-width:310px;
}
>>>>>>> 45a3efed16b157a43cbbad871716b68c1b8ba6a7
