.dataflowcontainer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:25px;
  width: 100%;
  max-width:1100px;
}
.dataflowcontainer p
{
  margin-top:5px;
  margin-bottom:5px;
}
.name
{
  color:#0654ba;
  font-size:1.3em;
  margin-right:20px;
}
.id
{
  margin-left:25px;
}
.popover_container
{
  text-align: left;
  padding:20px;
}
.pophover_title
{
  color:#0654ba;
}
.text_container
{
  display: flex;
  justify-content: space-between;
}
.pophover_title_container
{
  display: flex;
  justify-content: flex-start;
}
.title
{
  color:#0654ba;
  margin-right:20px;
}
.logo_info
{
  margin-right:20px;
  color:#0654ba;
}
.ref_area_container
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}