.dataflowcontainer
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top:25px;
}
.dataflowcontainer p
{
  margin-top:5px;
  margin-bottom:5px;
}
.name
{
  color:#0654ba;
  font-size:1.3em;
  margin-right:20px;
  text-align: left;
  flex:1;
  min-width:200px;
}
.id
{
  margin-left:25px;
}
.id:hover
{
  text-decoration: underline;
}
.popover_container
{
  text-align: left;
  padding:20px;
}
.pophover_title
{
  color:#0654ba;
}
.text_container
{
  display: flex;
  justify-content: space-between;
}
.pophover_title_container
{
  display: flex;
  justify-content: flex-start;
}
.title
{
  color:#0654ba;
  margin-right:20px;
}
.logo_info
{
  margin-right:20px;
  color:#0654ba;
}
.ref_area_container
{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width:400px;
}
.info_container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:20px;
  height:20px;
  color: white;
  border-radius: 100px;
  margin-right:25px;
  background-color:#0654ba;;
}
.large
{
  width:100%;
}
.small
{
  width:32%;
}
.popover
{
  display: flex;
  min-width:450px;
}